<html>
    <head>

    </head>
    <body>
        <!-- University Timeline -->
        <section id="cd-timeline" class="cd-container">
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture"></div>

                <div class="cd-timeline-content">
                    <h3>Hardware Software Design</h3>
                    <h6>University for Applied Sciences Upper Austria</h6>
                    <div class="timeline-content-info">
                        <span class="timeline-content-info-title">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Campus Hagenberg
                        </span>
                        <span class="timeline-content-info-date">
                            <i class="fa fa-certificate" aria-hidden="true"></i>
                            Bachelor of Science
                        </span>
                    </div>
                    <p>What do smartphones, modern cars and robots have in common? They are "smart" thanks to in-built computer technology that delivers functions once considered the stuff of sci-fi movies. Such smart computers depend on the perfect combination of dedicated software and hardware.</p>
                    <ul class="content-skills">
                    <li>C/C++</li>
                    <li>Digital Communication</li>
                    <li>IoT</li>
                    <li>AI</li>
                    </ul>
                    <span class="cd-date">2017 - 2020</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h3>Embedded System Design (Aborted)</h3>
                    <h6>University for Applied Sciences Upper Austria</h6>
                    <div class="timeline-content-info">
                        <span class="timeline-content-info-title">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Campus Hagenberg
                        </span>
                        <span class="timeline-content-info-date">
                            <i class="fa fa-certificate" aria-hidden="true"></i>
                            Aborted
                        </span>
                    </div>
                    <p>Embedded Systems are an integral part of many modern-day devices, from smartphones to cars and robots. Without them, there would also be no smart homes and smart cities.</p>
                    <ul class="content-skills">
                    <li>Industria Software Engineering</li>
                    <li>Real Time Operating System</li>
                    </ul>
                    <span class="cd-date">2020 - 2021</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h3>Human-Centered Computing</h3>
                    <h6>University for Applied Sciences Upper Austria</h6>
                    <div class="timeline-content-info">
                        <span class="timeline-content-info-title">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Campus Hagenberg
                        </span>
                        <span class="timeline-content-info-date">
                            <i class="fa fa-certificate" aria-hidden="true"></i>
                            Master Of Science
                        </span>
                    </div>
                    <p>IT systems of the future will need to instinctively respond to user needs and competencies. This cutting-edge, part-time degree programme gives graduates of information technology studies the chance to refine their skills in developing more accessible and user-friendly technologies.</p>
                    <ul class="content-skills">
                    <li>Technology Assessment</li>
                    <li>Psychology</li>
                    <li>Physiology</li>
                    <li>Interactiondesing</li>
                    <li>Usability</li>
                    <li>Data Preprocessing</li>
                    <li>Database Modelling</li>
                    <li>AR</li>
                    <li>Information Visualization</li>
                    <li>Affective Computing</li>
                    </ul>
                    <span class="cd-date">2021 - 2023</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h3>Semester Abroad</h3>
                    <h6>Örebro University</h6>
                    <div class="timeline-content-info">
                        <span class="timeline-content-info-title">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Örebro, Sweden
                        </span>
                        <span class="timeline-content-info-date">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            Summer Semester
                        </span>
                    </div>
                    <p>I got the opportunity to study abroad during the last semester of my master. Because of that I spent one wounderful summer semester at the Örebro University.  Tack så mycket!</p>
                    <ul class="content-skills">
                        <li>English</li>
                        <li>Teaching and Learning</li>
                        <li>Visual Communication</li>
                        <li>Applied Communication</li>
                    </ul>
                    <span class="cd-date">2023</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        </section> <!-- cd-timeline -->

        <!-- Pre-University -->    
        <details>
            <summary>Pre-University Education</summary> 
                <section id="cd-timeline" class="cd-container">
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-picture">
                        </div>
        
                        <div class="cd-timeline-content">
                            <h3>Primary School</h3>
                            <div class="timeline-content-info">
                            <span class="timeline-content-info-title">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                Kremsdorf
                            </span>
                    <span class="timeline-content-info-date">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        2004 - 2008
                    </span>
                    </div>
                            <p>Getting started with school!</p>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->
        
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-movie">
                        </div> <!-- cd-timeline-img -->
        
                        <div class="cd-timeline-content">
                            <h3>Sports Secondary School</h3>
                        <div class="timeline-content-info">
                            <span class="timeline-content-info-title">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                Ansfelden
                            </span>
                            <span class="timeline-content-info-date">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                2008 - 2012
                            </span>
                            </div>
                                <p>More studying and a loooot of sports!</p>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->
        
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-picture">
                        </div> <!-- cd-timeline-img -->
        
                        <div class="cd-timeline-content">
                            <h3>Technical School For Electronics</h3>
                        <div class="timeline-content-info">
                            <span class="timeline-content-info-title">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                HTBLA Leonding
                            </span>
                            <span class="timeline-content-info-date">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                2012 - 2016
                            </span>
                            </div>
                                <p>Getting into Electronics</p>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->
        
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-location">
                        </div> <!-- cd-timeline-img -->
        
                        <div class="cd-timeline-content">
                            <h3>A-Level Education</h3>
                        <div class="timeline-content-info">
                            <span class="timeline-content-info-title">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                WIFI Linz
                            </span>
                            <span class="timeline-content-info-date">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                2016 - 2017
                            </span>
                        </div>
                                <p>In Austria this level of education is needed to be able to start your studies!</p>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->
                </section> <!-- cd-timeline -->
          </details>
        
        <!-- scripts -->
    </body>
</html>