<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en">
<head>
    <link rel="stylesheet" href="../assets/css/education.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <!-- HEADER -->
    <h2 class="major">Education</h2>
    <span class="image main"><img src="images/pic02.jpg" alt="" /></span>

    <div class="wrapper">
        <div class="center-line">
            <a href="#education" class="scroll-icon-education"><i class="fas fa-caret-up"></i></a>
        </div>
        <div class="row row-1">
            <section>
                <i class="icon-education fa fa-globe" aria-hidden="true"></i>
                  <h3>Semester Abroad</h3>
                  <em>Örebro University, Sweden</em>
                  <div class="timeline-content-info">
                  </div>
                  <p>I got the opportunity to study abroad during the last semester of my master. Because of that I spent one wounderful summer semester at the Örebro University.  Tack så mycket!</p>
                  <ul class="content-skills">
                      <li>English</li>
                      <li>Teaching and Learning</li>
                      <li>Visual Communication</li>
                      <li>Applied Communication</li>
                  </ul>
                  <span class="cd-date">2023</span>
            </section>
        </div>
        
        <div class="row row-2">
            <section>
                <i class="icon-education fas fa-graduation-cap"></i>
                <h3>Human-Centered Computing</h3>
                <em>University for Applied Sciences Upper Austria</em>
                <div class="timeline-content-info">
                </div>
                <p>IT systems of the future will need to instinctively respond to user needs and competencies. This cutting-edge, part-time degree programme gives graduates of information technology studies the chance to refine their skills in developing more accessible and user-friendly technologies.</p>
                <ul class="content-skills">
                    <li>Technology Assessment</li>
                    <li>Psychology</li>
                    <li>Physiology</li>
                    <li>Interactiondesing</li>
                    <li>Usability</li>
                    <li>Data Preprocessing</li>
                    <li>Database Modelling</li>
                    <li>AR</li>
                    <li>Information Visualization</li>
                    <li>Affective Computing</li>
                </ul>
                <span class="cd-date">2021 - 2023</span>
            </section>
        </div>
        <div class="row row-1">
            <section>
                <i class="icon-education fa fa-undo"></i>
                <h3>Embedded System Design (Changed)</h3>
                <em>University for Applied Sciences Upper Austria</em>
                <div class="timeline-content-info">
                </div>
                <p>Embedded Systems are an integral part of many modern-day devices, from smartphones to cars and robots. Without them, there would also be no smart homes and smart cities.</p>
                <ul class="content-skills">
                    <li>Industria Software Engineering</li>
                    <li>Real Time Operating System</li>
                </ul>
                <span class="cd-date">2020 - 2021</span>
            </section>
          </div>
        <div class="row row-2">
            <section>
                <i class="icon-education fas fa-graduation-cap"></i>
                    <h3>Hardware Software Design</h3>
                    <em>University for Applied Sciences Upper Austria</em>
                    <div class="timeline-content-info">
                    </div>
                    <p>What do smartphones, modern cars and robots have in common? They are "smart" thanks to in-built computer technology that delivers functions once considered the stuff of sci-fi movies. Such smart computers depend on the perfect combination of dedicated software and hardware.</p>
                    <ul class="content-skills">
                        <li>C/C++</li>
                        <li>Digital Communication</li>
                        <li>IoT</li>
                        <li>AI</li>
                    </ul>
                    <span class="cd-date">2017 - 2020</span>
            </section>
        </div>
    </div>


    <!-- <h1>Pre-University Education</h1>
        <div class="wrapper">
            <div class="center-line">
                <a href="#education" class="scroll-icon-education"><i class="fas fa-caret-up"></i></a>
            </div>
            <div class="row row-1">
                <section>
                        <i class="icon-education fas fa-school"></i>
                        <h3>Primary School</h3>
                            <div class="timeline-content-info">
                            <span class="timeline-content-info-title">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                Kremsdorf
                            </span>
                        <span class="timeline-content-info-date">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        2004 - 2008
                        </span>
                        </div>
                        <p>Getting started with school!</p>
                </section>
            </div>
            
            <div class="row row-2">
                <section>
                    <i class="icon-education fas fa-school"></i>
                    <h3>Sports Secondary School</h3>
                    <div class="timeline-content-info">
                        <span class="timeline-content-info-title">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Ansfelden
                        </span>
                        <span class="timeline-content-info-date">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            2008 - 2012
                        </span>
                        </div>
                            <p>More studying and a loooot of sports!</p>
                </section>
            </div>
            <div class="row row-1">
                <section>
                <i class="icon-education fas fa-bolt"></i>
                <h3>Technical School For Electronics</h3>
                        <div class="timeline-content-info">
                            <span class="timeline-content-info-title">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                HTBLA Leonding
                            </span>
                            <span class="timeline-content-info-date">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                2012 - 2016
                            </span>
                            </div>
                                <p>Getting into Electronics</p>
                </section>
            </div>
            <div class="row row-2">
                <section>
                <i class="icon-education fas fa-certificate"></i>
                <h3>A-Level Education</h3>
                <div class="timeline-content-info">
                    <span class="timeline-content-info-title">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        WIFI Linz
                    </span>
                    <span class="timeline-content-info-date">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        2016 - 2017
                    </span>
                </div>
                        <p>In Austria this level of education is needed to be able to start your studies!</p>
                </section>
            </div>
        </div> -->        
</body>
</html>