<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../assets/css/experience.css">
    </head>
    <body>
        <h2 class="major">Experience</h2>
        <span class="image main"><img src="images/pic03.jpg" alt="" /></span>
        
        <div id="inner-nav"></div>
        <div id="container">
            <div id="info-cards">
                <div class="card">
                    <h3><i class="icon-experience fas fa-briefcase stroke-transparent"></i>&nbsp;&nbsp;&nbsp;Research & Developement Engineer</h3>
                    <div class="resume-content mr-auto">
                        <h5>Sprecher Automation GmbH</h5>
                        <div class="subheading mb-3">During my time at Sprecher Automation I was involved in several research and development projects. I researched the topics MQTT as well as embedded databases and developed first prototypes. The new knowledge was shared through reports and presentations.</div>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-experiance-date">Dezember 2019 - Dezember 2022</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="container">
            <div id="info-cards">
                <div class="card">
                    <h3><i class="icon-experience fas fa-briefcase stroke-transparent"></i>&nbsp;&nbsp;&nbsp;Academic Tutor in Project Management</h3>
                    <div class="resume-content mr-auto">
                        <h5>University for Applied Sciences Upper Austria</h5>
                        <div class="subheading mb-3">As an academic tutor, I was assigned to assess exercises, projects as well as papers of my successors in the Bachelor's program. For the most part, this involved topics related to project management and project planning</div>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-experiance-date">October 2020 - June 2021</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
